<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <title>{% block title %}Welcome!{% endblock %}</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
    {% block stylesheets %}
        {#{{ encore_entry_link_tags('app') }}#}
    {% endblock %}

    {% block javascripts %}
        {#{{ encore_entry_script_tags('app') }}#}
    {% endblock %}
</head>
<body class="red lighten-5">

    <div class="container">

        {% block body %}{% endblock %}
        
        {% for label, messages in app.flashes() %}
            {% for message in messages %}
                M.toast({html: {{ message }}' , classes: '{{ label }}' })
                {{ label }}
            {% endfor %}
        {% endfor %}
    
    </div>
</body>
</html>
